@import 'tailwindcss';
@import './fonts.css';
@import './theme.css';

@layer base {
  html {
    @apply scroll-smooth bg-black;
  }

  body {
    @apply from-secondary m-0 bg-linear-to-br to-black p-0 font-sans font-light text-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-4 font-serif leading-none font-bold;
  }

  h1 {
    @apply mb-8 text-5xl md:text-7xl;
  }

  h2 {
    @apply mb-6 text-4xl md:text-6xl;
  }

  h3 {
    @apply text-3xl md:text-5xl;
  }

  h4 {
    @apply text-2xl md:text-4xl;
  }

  h5 {
    @apply text-xl md:text-3xl;
  }

  h6 {
    @apply text-lg md:text-2xl;
  }

  p {
    @apply mb-2 text-base md:text-lg;
  }
}
