@theme {
  /* Typography */
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: 'Playfair Display', serif;

  /* Colors */
  --color-primary: #ff6345;
  --color-secondary: #2c3f52;
  --color-secondary-100: #28394a;
  --color-secondary-200: #233242;
  --color-secondary-300: #1f2c39;
  --color-secondary-400: #1a2631;

  --color-black: #0f1b27;
  --color-white: #f5fbff;
  --color-success: var(--color-green-400);
  --color-error: var(--color-red-400);
}
